.global-header {
    background-color: $color-base-dark;
    border-top: 5px solid $color-accent-bright;
    padding-top: $default-spacing-medium;

    &__heading {
        margin: $default-spacing-x-small 0;
        text-align: center;

        @include media-query(em(750px)) {
            font-size: $font-size-heading-large;
            margin: $default-spacing-small 0;
        }
    }

    a {
        color: $color-base-light;
    }
}

.menu {
    ul {
        text-align: center;
    }

    li {
        display: inline-block;
    }

    a {
        color: $color-base-light;
        display: block;
        padding: $default-spacing-medium;

        &:hover,
        &:active {
            background-color: $color-accent-light;
            text-decoration: none;
        }
    }
}